<footer class="container-fluid">

    <div class="foot-links">
        <div class = "container container-responsive">
            <div class="row">
                <section class="col-sm-3 col-md-3 col-lg-3">
                    <h4>CUSTOMERS</h4>
                    <a href="#"><p>STYLE GUIDE</p></a>
                    <a href="#"><p>HELP/FAQS</p></a>
                    <a href="#"><p>FIND PLACES WE DELIVER</p></a>
                </section>


                <section class="col-sm-3 col-md-3 col-lg-3">
                    <h4>POLICIES</h4>
                    <a href="#"><p>TERMS OF USE</p></a>
                    <a href="#"><p>PRIVACY</p></a>
                    <a href="#"><p>SHIPPING POLICY</p></a>
                </section>




                <section class="col-sm-3 col-md-3 col-lg-3">
                    <h4>REACH US</h4>
                    <a href="#"><p>FOR ANY QUERY PLEASE EMAIL US</p></a>
                    <a href="#"><p>shopperarena@gmail.com</p></a>
                </section>



                <section  class="col-sm-3 col-md-3 col-lg-3">
                    <h4>FOLLOW US</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                </section>

            </div>
        </div>
    </div>

    <div class="copyrights">
        <div class="container container-responsive">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p>© 2014 - 2016 SHOPPERS ARENA. ALL RIGHTS RESERVED.</p>
                </div>
                <div class="col-sm-2 col-md-3 col-lg-3"></div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <a href="#" target="_blank">Terms of Use</a> &nbsp;
                    <a href="#" target="_blank">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>